{% extends "layout.html.twig" %}

{% block section %}
<div class="container">
    <div class="card text-center card_one">
        <h3 class="card-header">
            Apropos de la DGRAD
        </h3>
        <div class="card-body">
            <h5 class="card-title">Historique de la création DGRAD</h5>
            <p class="card-text">
                Les Recettes Administratives, judiciaire, Domaniales et de Participations ont été motivé par les analyses faites au cours de trois décennies, cette période avait sensiblement baissé les recettes par rapport à l’année 1960, cette examen a permis que la baisse de ces recettes s’expliquent par le désorganisation de l’administration publique constaté juste après l’indépendance ;
                <br><br>
                	La Consommation à la source ;<br>
                	La minoration systématique de base taxable ;<br>
                	La mauvaise gestion des imprimés de valeurs ;<br>
                	La non maitrise des acte générateur bref la fraude fiscale.
                <br>
            </p>
            <p class="card-text">
                Tout ceci entrainera une baisse remarquable de recette non fiscale dans le budget de l’Etat au point qu’elle représente que 20% à 1995 alors qu’auparavant elle contribué à plus de 23% à Laube de l’indépendance de notre pays.
            </p>
            <p class="card-text">
                C’est ainsi que l’autorité publique avec le partenaire multi latéraux avait estimés que la mobilisation ou la maximation de recette non fiscale ne devrait pas demeuré d’une prérogative d’une division de la comptabilité publique du ministère de finance, et avait jugé nécessaire dans le but d’assainir le finance publique de créé un service publique qui se chargerai d’un encadrement et de la centralisation ou au compte de trésor publique de toutes les recettes généré au niveau de l’administration.
            </p>
            <a href="{{ path('about_plus') }}" class="btn btn-primary">En savoir plus
            </a>
        </div>
        <div class="card-footer text-muted">
            Direction Générale des Recettes Administratives, judiciaire, Domaniales et de Participations (DGRAD)
        </div>
    </div>
</div>

{% endblock %}