{% extends "layout.html.twig" %}

{% block section %}
<div class="container">
    <div class="card text-center card_one">
        <h3 class="card-header">
            Apropos de la DGRAD
        </h3>
        <div class="card-body">
            <h5 class="card-title">Historique de la création DGRAD</h5>
            <p class="card-text">
                Il est également que l’idée de créer la DGRAD est largement justifié au regard du décret de sa création par l’objectif d’assainissement des finance public.
                			    	Entendu comme la maitrise des autres recettes budgétaire, notamment, Administratives, Judiciaires, Domaniales, et de Participations.
            </p>
            <p class="card-text">
                Par ailleurs on peut admettre que l’idée créer la DGRAD est largement justifié de s’inscrire dans l’optique de la réorganisation de service mobilisateur de recette.
                <br>
                Pour d’un côté éliminer à la fois toutes les sources d’entrave à la bonne administration, à la collective et à la canalisation vers le compte du trésor public et de l’autre côté amélioré les rendements.
            </p>
            <h4>1.2. Création de la DGRAD</h4>
            <p class="card-text">
                La DGRAD fut créé par LEON KENGO WODONDO qui fut premier ministre à cette époque (1er commissaire d’Etat), Pierre 	PAYPAY ministre de finance et BAHATI MUKUEBO ministre de l’emploi ont signé l’arrêté interministériel n° 0058.
                			    	Le premier Directeur Général fut Jean marie MULAMBO KILOSHO ainsi par le décret n° 0058 du 27/12/1995 fut créer au sein du ministre de finance un service public doté d’une autonomie administrative et financière dénommé DIRECTION GENERALE DES RECETTES ADMINISTATIVES, JUDICIAIRES, DOMANIALES, ET DE PARTICIPATIONS. «DGRAD» en sigle.
            </p>
            <p class="card-text">
                Elle est doté d’un personnel régit par le décret n°0059 du 27/121995 relatif au règlement de l’administration du personnel pris conformément à la loi 81-003 du 17/07/1981 portant statut du personnel de carrière de service de l’Etat
            </p>
            <h4>1.3. Attribution</h4>
            <p class="card-text">
                La DGRAD a pour mission essentielle :
                <br>
                	Les contrôles avant émission de titres de perception ;
                <br>
                	La régulation de toute opération de contrôle de constatation ;
                <br>
                	La perception de droit, taxe et redevance ou autre titre de recettes administratives, Judiciaire, Domaniales et de participations constaté et liquidé par le service d’assiette ;
                <br>
                	La relance et poursuite du recouvrement forcé conformément au loi et règlement envi guère (suivre ceux qui ne veut pas payé) ;
                <br>
                	La validation des actes et documents administratives par opposition de preuves ou référence de paiement de sommes dû (timbre ou quittance de perception).
                <br>
            </p>
            <h4>1.4. Taxation</h4>
            <p class="card-text">
                La taxation est le prix d’un service rendu à un particulier par l’Etat, elle est un prélèvement pécuniaire fixé par l’autorité c.-à-d. par la loi, l’ordonnance, l’arrêté.
            </p>
            <h4>1.5. Procédure de la taxation</h4>
            <p class="cart-text">
                Conformément à la loi financière n° 83-003 du 23/03/1987 tel que modifié et compléter du ordonnance loi n° 87-004 du 10/01/1997, il est consacré dans l’exécution du budget 4 phases ci-après :
                <br>
                	La constatation ;
                <br>
                	La liquidation ;
                <br>
                	L’ordonnancement ;
                <br>
                	Recouvrement.
                <br>
            </p>
            <h4>1.5.1. La Constatation</h4>
            <p class="cart-text">
                Est une opération qui consiste à établir l’existence d’une créance est effectué par les services d’assiette ; générateur des actes.
            </p>
            <h4>1.5.2. La liquidation</h4>
            <p class="cart-text">
                C’est la détermination du montant dû au trésor public par le débiteur.
            </p>
            <h4>1.5.3. L’ordonnancement</h4>
            <p class="cart-text">
                Consiste à donner l’ordre à la suggestif de s’acquitter d’une obligation du trésor public vis-à-vis de ventre dans son droit contre d’un avis libéral.
            </p>
            <h4>1.5.4. Recouvrement</h4>
            <p class="cart-text">
                Est une opération qui consiste à percevoir les sommes dû au trésor public au titre des recettes Administratives, Judiciaires, Domaniales et de participations.
            </p>
            <h4>1.6. Situation Géographique</h4>
            <p class="cart-text">
                La Direction Générale de Recettes Administratives, Judiciaires, Domaniales et de  Participations  « DGRAD » en sigle, est située sur le Boulevard TSHATSHI dans la commune de la Gombe. Elle se situe plus précisément au sud de la place de la république (Mausolée Laurent Désiré Kabila) au Nord du Bâtiment de la Fonction publique, à l’Ouest du bâtiment de la Banque Centrale du Congo, et à l’Est de l’avenue OKITO.
                <br>
                La DGRAD est un service public de l’Etat Congolais doté de l’Autonomie administrative et Financière, placée sous l’Autorité directe du Ministre ayant les finances dans ses attributions, et qui a dans ses attributions l’ordonnancement et le recouvrement des recettes non fiscales de l’Etat.
            </p>
            <h4>1.7. Structure de la DGRAD</h4>
            <p>Ces structures sont :
                <br>
                	La Direction Générale «DG» ;
                <br>
                	Les Directions.
                <br>
            </p>
            <h4>1.7.1. La Direction Générale «DG»</h4>
            <p>
                La DGRAD est dirigé par un directeur général secondé par deux directeurs généraux adjoints, qui sont tous nommé par le président de la République sur proposition du ministère de finance délibéré en conseil de ministre.
                <br>
                Le Directeur Général coordonne et supervise l’ensemble des activités de la DGRAD conformément à la loi et règlement en viguier il en assure la direction gère les personnels, les ressources financières ainsi que les biens meuble et immeuble présent et avenir à la disposition de la DGRAD.
                <br>
                Le Directeur Général adjoint assiste le Directeur Général dans ces fonctions toute fois, le DG peut déléguer une partie de ceux attributions et la signature pour leur confié la supervision d’un ou de plusieurs activités.
            </p>
            <h4>1.7.2. Les Directions</h4>
            <p>
                La DGRAD a actuellement 9 directions de l’administration centrale plus deux directions urbaines et dix directions provinciales, toutes ses directions sont subdivisées en division, Bureau, cellule et ressort
            </p>
            <h4>1.7.3. Les Directions de l’Administration centrale</h4>
            <p>
                	DGRAD    : La Direction Générale des Recettes Administratives,
                						Judiciaires Domaniales et de Participations.
                <br>
                	DECO       : La Direction des Etudes et Contentieux.
                <br>
                	DIRAJUP : La Direction du Contrôle et de l’ordonnancement de Recettes
                						Administratives, Judiciaires et de Participations.
                <br>
                	DIRDOM   : La Direction du Contrôle et de l’ordonnancement de Recettes
                						Domaniales.
                <br>
                	DRSRE     : La Direction du Recouvrement et du suivi des régimes
                						D’Exception.
                <br>
                	DEB           : La Direction de Finances et Budget
                <br>
                	DIVA          : La Direction des Imprimés de Valeur et Administratifs.
                <br>
                	DIRINFO    : La Direction de l’Informatique
                <br>
                	DASG         : La Direction de l’Administration des Services Généraux.
                <br>
                Précisons que la DGRAD comprend une direction dans chaque province, toute fois la ville de Kinshasa fait l’exception et comprend deux directions urbaines :
                <br>

                	La Direction de Kinshasa Est (DIKE), situé sur le boulevard Lumumba 9ème rue limite
                <br>
                	La Direction de Kin Ouest (DIKO), situé au réez de chaussé de la galerie présidentielle.
                <br>
            </p>
            <h4>1.8. Nature de recette encadrée par la DGRAD</h4>
            <p>
                Il conviendra de note que les recettes non fiscales se composent essentiellement des ressources domaniales, judicaire, administrative et de participations.
            </p>
            <h4>1 .8.1 Les recettes domaniales</h4>
            <p>
                Elles sont constituées de droits, Taxes en redevance paye par les usages d’un secteur relevant d’un domaine public au privée de l’Etat.
                <br>
                Ex : les forêts, les cours d’eau, l’espace aérien, les murs …
                <br>
            </p>
            <h4>1.8.2.	Les recettes judiciaires</h4>
            <p>
                Ce sont des recettes constituées essentiellement des amandes pénale, des frais jugements, ce droit  proportionnelle sur le capital de  société Anonyme étant d’autre acte générateur qui soient des recettes ayant traite au dossier judiciaire de diffèrent cours et tribunaux aussi qu’autres instance.
            </p>
            <h4>1.8.3. Les recettes administratives</h4>
            <p>
                Il s’agit d’un prix acquitté par l’usage d’un service public non industriel en contrepartie de prestation ou avantages qu’il retire de ses services
                <br>
                Ex : une autorisation de pêche, de permis de conduire, passeport ordinaire
                <br>
            </p>
            <h4>1.8.3.	Les recettes de participations</h4>
            <p>
                Ce sont de recettes qui résultent de participation de l’Etat comme actionnaire ou associé dans certaines entreprises qui peuvent être commerciales, industriel ou de service d’économie mixte ou publique
                <br>
                Ex : les dividendes d’économie mixte telle que la BCDC
            </p>
            <h4>1.9.	Description des postes</h4>
            <h5>1.9.1. La Direction Génale</h5>
            <p>
                Coordonne et supervise l’ensemble des activités de la Direction Générale des Recettes Administratives, Judiciaires, Domaniales et de Participations conformément aux lois et règlements en vigueur.
                						Il en assure la direction, gère le personnel, les ressources  financières ainsi que les biens meubles et immeubles présents et à venir mis à la disposition de la Direction Générale des Recettes Administratives, Judiciaires, Domaniales et de Participations.
                <br>
                Il dispose du droit d’évoquer les affaires et peut réformer les décisions des directeurs centraux et régionaux.
            </p>
            <h4>1.9.2. Les Directeurs Généraux Adjoints :</h4>
            <p>
                Ils assistent le Directeur Général dans ses fonctions. Toutefois, le Directeur Général peut leur déléguer une partie de ses attributions avec signature subséquente ou leur confier la supervision d’un ou plusieurs secteurs d’activité.
                <br>
                En cas d’absence ou d’empêchement, le Directeur Général est remplacé par un es Directeurs Généraux adjoints ou en cas d’absence ou d’empêchement simultané de ceux- ci, par un des directeurs désigné par la Ministre des Finances.
            </p>
            <h4>1.9.3. La  Direction des Etudes et du Contentieux</h4>
            <p>
                Cette Direction est chargée de (d’):
                <br>
                - Mener les études de nature à améliorer l’organisation et le fonctionnement de la Direction Générale des Recettes Administratives, Judiciaires, Domaniales et de Participations ;
                <br>
                - Elaborer les projets de loi, de décret, d’arrêté et d’instructions ou de circulaires;
                <br>- Instruire les dossiers soumis au Directeur Général ou évoqués par lui ;
                <br>
                - Instruire  toutes les affaires contentieuses résultant de l’activité de la Direction Générale des Recettes Administratives, Judiciaires, Domaniales et de Participations ;
                <br>
                - Instruire et de suivre les dossiers  des débiteurs défaillants devant faire ou faisant l’objet de poursuites en recouvrement forcé conformément aux dispositions légales en vigueur ;
                <br>- Centraliser et d’analyser les statistiques de recettes ;
                <br>
                - Elaborer les rapports d’activités de la Direction Générale des Recettes Administratives, Judiciaires, Domaniales et de Participations ;
            </p>
            <h4>1.9.4. (DIRAJUP)</h4>
            <p>
                Elle est chargée de (d’):
                <br>
                - Contrôler avant émission  du titre de perception, la régularité de toutes les opérations de constatation et de liquidation des recettes Administratives, Judiciaires et de Participations et, de mener, le cas échéant, les enquêtes et investigations qu’appelle la motivation de la décision de renvoi pour redressement des dossiers non conformes ;
                <br>
                - Etablir les notes de perception ;
                <br>
                - Elaborer les statistiques de recettes constatées et ordonnancées ;
                <br>
                - Gérer la documentation de l’assiette et les dossiers individuels des assujettis.
            </p>
            <h4>1.9.5. (DIRDOM)</h4>
            <p>
                Elle est chargée de :
                <br>
                Contrôler avant émission  du titre de perception, la régularité de toutes les opérations de constatation et de liquidation des recettes domaniales et, de mener, le cas échéant, les enquêtes et investigations qu’appelle la motivation de toute décision de renvoi pour redressement des dossiers non conformes ;
                <br>
                - Etablir les notes de perception ;
                <br>
                - Elaborer les statistiques de recettes constatées et ordonnancées ;
                <br>
                - Gérer la documentation de l’assiette et les dossiers individuels des assujettis.
                <br>
            </p>
            <h4>1.9.6. La  Direction du Recouvrement et du Suivi des Régimes d’Exception</h4>
            <p>
                Elle est chargée de:
                <br>
                - Percevoir  les sommes dues au Trésor Public au titre des Recettes Administratives, Judiciaires, Domaniales et de Participations ;
                <br>
                - Elaborer les statistiques des recettes recouvrées et non recouvrées ;
                <br>
                - Valider les actes et documents administratifs par l’opposition des preuves et références de paiement des sommes dues au Trésor Public ;
                <br>
                - Gérer les dossiers des bénéficiaires du régime d’exception et  d’évaluer le manque à gagner y relatif ;
                <br>
                - Gérer les dossiers des recettes non recouvrées et de mettre en demeure les débiteurs défaillants avant toute poursuite en recouvrement forcé ;
                <br>
            </p>
            <h4>1.9.7. DASG</h4>
            <p>
                Elle est chargée :
                <br>
                - De la gestion du personnel ;
                <br>
                - et de la gestion des biens meubles et immeubles de la DGRAD;
                <br>
            </p>
            <h4>1.9.8. L’Inspection Générale des Services</h4>
            <p>
                Elle est chargée de :
                <br>
                - Vérifier les services tant centraux que provinciaux d’office ou sur demande du Directeur Général ;
                <br>
                - Veiller à l’application régulière des lois et règlements en vigueur et au respect des directives de la Direction Générale ;
                <br>
                - Soumettre au directeur général toutes observations ou mesures de nature à améliorer l’organisation et le fonctionnement des services.
            </p>
            <h4>1.9.9. DIRINFO</h4>
            <p>
                Elle est chargée de :
                <br>
                - L’élaboration de la politique d’informatisation des services de la DGRAD ;
                <br>
                - L’élaboration des cahiers de charges des projets informatiques ;
                <br>
                - L’analyse, le développement, l’implantation et la maintenance des applications et des équipements ;
                <br>
                - La gestion des systèmes d’exploitation et de communication ;
                <br>
                - L’assistance technique en informatique des services tant centraux, urbains que provinciaux. Bref, elle assure la gestion et le traitement informatique des données
                <br>
            </p>
            <h4>1.9.10. La Direction des Imprimés de Valeur et administratif :</h4>
            <p>
                Elle est chargée des :
                <br>
                -La collecte des besoins des services d’assiette en imprimés de valeur, administratifs et en titres valant espèces, ainsi que celle des spécimens y relatifs;
                <br>
                -L’élaboration du cahier de spécial des charges à transmettre au conseil d’adjuration du Gouvernement ;
                <br>
                -La garde des imprimés de valeur, administratifs et des titres valant espèces après leur réception par la commission ad hoc du Gouvernement ;
                <br>
                -La tenue de la comptabilité matière conformément à la réglementation en vigueur ;
                <br>
                -L’approvisionnement, via les comptables publics principaux des recettes encadrées par la DGRAD, des services d’assiette en imprimés de valeur et en titre valant espèces ;
                <br>
                - Contrôle de conformité de l’authenticité des imprimés de valeur, administratifs et des titres valant espèces des services d’assiette ;
                <br>
                - Le suivi, avec le concours de la Direction de Recouvrement et du suivi des régimes d’exceptions, auprès des services d’assiette, des recettes générées par la délivrance des imprimés de valeur, administratifs et des titres valant espèces,notamment par le rapprochement entre le stock initial, les recettes réalisées et le stock disponible.
            </p>
            <h4>1.9.11. La Direction des Finances</h4>
            <p>
                Elle assure la gestion des crédits et des fonds alloués à la DGRAD pour son fonctionnement.
            </p>
            <h4>1.9.12. Les  Directions Provinciales</h4>
            <p>
                Sont chargées dans leurs ressorts respectifs des tâches non dévolues à l’administration centrale concernant le personnel, les services généraux, l’ordonnancement, le contentieux et le recouvrement. Signalons ici qu’il existe, dans chaque province, une direction provinciale et deux directions urbains à Kinshasa, c’est-à-dire Kin-Est et Kin-Ouest.
            </p>
            <h4>1.10.	DASG</h4>
            <p>
                Elle s’occupe de la gestion du personnel ainsi que les biens meubles et immeuble de la DGRAD	y compris le traitement de données informatique. Elle est composée de deux divisions à savoir :
                <br>
                A.	La division de l’administration ;
                <br>
                B.	La division de service Généraux.
                <br>
            </p>
            <h4>A.	La division de l’administration</h4>
            <p>Elle s’occupe de traitement des dossiers purement administratif et est composée des trois bureaux à savoir.</p>
            <h4>A.1.	Le bureau du personnel</h4>
            <p>
                Il est dirigé par un chef du personnel et est subdivise en quatre cellules.
            </p>
            <p>
                	Cellule administrative : Elle s’occupe de traitement du dossier à caractère administratif entre autres (mutation, transfert, regroupement familial, avancement engarde…)
                <br>
                	Celle juridique : Elle traite le dossier à caractère juridique (action disciplinaire, mis en disponibilité, mis en détachement etc…)
                <br>
                	Celle archive et documentation
                <br>
                Elle est chargée de classement des dossiers, physique des Agents et cadres de la DGRAD, élabore  les fiches individuelles des cadres et agents, insère les courriers ou correspondance destinées des agents et cadres.
            </p>
            <h4>A.2. le bureau recrutement et formation</h4>
            <p>
                Il est charge de recrutement et de la formation des agents et cadre de la DGRAD est compose de deux cellules :
                <br>
                	Cellule recrutement elle s’occupe de la réception et l’enregistrement de demande d’emplois et de stage.
                <br>
                	Cellule formation ; Elle s’occupe de la formation des cadres et agents de la DGRAD ainsi que de stagiaire venant des différentes institutions d’enseignements supérieurs et universitaires.
            </p>
            <h4>A .3. Le bureau rémunération</h4>
            <p>
                Il s’occupe de l’élaboration des Etats de paie ainsi que la répartition des avantages pécuniaires, il est composé de différents agents payeurs qui sont en contacts avec le comptable public affecte à la DGRAD.
            </p>
            <h4>B.	La division des services généraux</h4>
            <p>
                Elle est dirigée par un chef de division et est composée de trois bureaux à savoir :
            </p>
            <h4>B.1.	Bureau service généraux</h4>
            <p>
                Il s’agit de ;
                <br>
                -	L’actualisation annuelle de l’inventaire du patrimoine de la DGRAD
                <br>
                -	L’enregistrement et classement de tous les contrats conclus avec les tiers en rapport avec le bail é loyer au niveau de l’administration centrale.
                <br>
                -	Enregistrement de tout mouvement d’achats répartition et expédition des mobiliers aussi bien à Kinshasa qu’à l’intérieur en province ;
                <br>
                -	Achat, distribution, entreposage des fournitures de bureau, consommable informatiques de la DGRAD :
            </p>
            <h4>B.3. Bureau intendance</h4>
            <p>
                Il s’occupe de la gestion du charroie automobile de DGRAD ainsi que l’achat de différentes pièces de rechange y compris la fourniture de vivre frais pour les cadres et agents de la DGRAD.
            </p>
        </div>
        <div class="card-footer text-muted">
            Direction Générale des Recettes Administratives, judiciaire, Domaniales et de Participations (DGRAD)
        </div>
    </div>
</div>

{% endblock %}